#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  width: 485px;
  padding: 20px;
  background-color: darkgrey;
}

.controlPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.deck {
  height: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardContainer {
  width: 100px;
  height: 120px;
  perspective: 1000px; // This gives a 3D effect to the flip

  &:not(:nth-child(4n + 1)) {
    margin-left: 15px;
  }

  &:not(:nth-child(-n + 4)) {
    margin-top: 15px;
  }

  .card {
    width: 100px;
    height: 120px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;

    &:hover {
      cursor: pointer;
    }

    &.open {
      transform: rotateY(180deg);
    }

    .cardFace {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      backface-visibility: hidden; // Hides the back face when flipped
    }

    .front {
      background-color: #f0f0f0;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
    }

    .back {
      background-color: #4a90e2;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      transform: rotateY(180deg); // Makes the back face visible when rotated
    }
  }

  .skeleton {
    border-radius: 10px;
    background-color: #6d7373 !important;
  }
}

.result {
  display: grid;
  grid-auto-rows: 120px;

  height: 537px;
  overflow: scroll;

  grid-row-gap: 15px;

  .resultItem {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;

    padding: 12px;
    border: solid 1px black;
    border-radius: 10px;

    .itemInfo {
      display: grid;
      justify-content: space-between;
      height: 100%;
    }

  }
}

